.root {
    -fx-background-image: url(/images/matrixBG.jpg);
    -fx-background-size: 1000 800;
    -fx-background-position: center center;
    -fx-font-family: "JetBrains Mono";
}

.text-id {
    -fx-font-family: "JetBrains Mono";
    -fx-font-weight: bold;
    -fx-font-smoothing-type: lcd;
    -fx-font-size: 20;
    -fx-text-fill: white;
    -fx-fill: white;
}

.button{
    -fx-font-family: "JetBrains Mono";
    -fx-font-size: 25;
    -fx-text-fill: white;
    -fx-background-color: #4CAF50;
    -fx-background-radius: 30 0 30 0;
    -fx-background-insets: 5 5 5 5;
    -fx-effect: dropshadow(one-pass-box, darkgreen, 0.0, 0.0, 0.0, 10);
    -fx-cursor: crosshair;
}
.button:hover{
    -fx-background-color: #3e8e41;
}

.button:pressed{
    -fx-background-color: #3e8e41;
    -fx-translate-y: 5;
    -fx-effect: dropshadow(one-pass-box, darkgreen, 0.0, 0.0, 0.0, 5);
}

.grid{
    -fx-font-family: "JetBrains Mono";
    -fx-font-size: 40;
    -fx-background-color: #99ff99;
    -fx-border-color: #00cc66;
    -fx-border-style: dotted;
    -fx-border-width: 5;
}

.combo-box {
    -fx-font-size: 20;
    -fx-background-radius: 0 15 0 15;
    -fx-border-style: dotted;
    -fx-border-color: #00cc66;
    -fx-background-color: #99ff99;
    -fx-border-width: 5;
    -fx-cursor: crosshair;
}

.combo-box .list-cell{
    -fx-background-color: #99ff99;
}

.combo-box .arrow{
    -fx-background-color: #00cc66;
}

